wandb_secret.txt
ProxyapiSecret.txt
db_secret.json


/Data
*__pycache__
/.DS_store
/venv
/.venv
/wandb
/.vs
/utils/__pycache__
/bot/core/__pycache__
*/__pycache__
/catboost_info

gigachat.ipynb
metro_parsing.ipynb

algos.ipynb
distribution.ipynb
